body {
    background-image: url("background.jpg");
    background-size: 100% auto;
}

.grid-container {
    background-color: rgba(194, 155, 194, 0.7);
    width: 400px;
    display: grid;
    row-gap: 2px;
    column-gap: 2px;
    grid-template-columns: auto auto;
    margin: 0 auto;
    padding: 10px;
    margin-top: 50px;
    border-radius: 5%;
    color: rgb(240, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-item {
    background-color: rgba(250, 150, 250, .2);
    padding: 5px;
    font-size: 22px;
    text-align: center;
    color: rgb(245, 198, 198);
    font-weight: bold;
}


.inputStyling {
    height: 25px;
    width: 140px;
}

.inputNoEdit {
    background-color: rgba(50, 50, 50, 0.5);
    color: white;
}

#btn {
    grid-area: btn;
    height: 50px;
    width: auto;
    background-color: rgb(140, 30, 30);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    border: 3px solid black;
    border-radius: 5%;
}